
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=postgres
DB_NAME=payments
DB_SSL=disable
DB_MAX_CONNECTIONS=100
DB_SHARED_BUFFERS=128MB
DB_MAX_WAL_SIZE=1GB
DB_LOG_MIN_DURATION=200
DB_LOCAL_PORT=5433

KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_PARTITIONS=3
KAFKA_REPLICATION_FACTOR=1
KAFKA_AUTO_CREATE_TOPICS=true
KAFKA_REQUEST_TOPIC=payment.processing.request
KAFKA_RESPONSE_TOPIC=payment.processing.response
KAFKA_CONSUMER_GROUP=payment-service-consumer

APP_PORT=8080

MAX_WORKERS=5

OUTBOX_BATCH_SIZE=10
OUTBOX_INTERVAL=5s
OUTBOX_WORKERS=1

SHUTDOWN_TIMEOUT=30s
