DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=
DB_SSL=disable
DB_MAX_CONNECTIONS=100
DB_SHARED_BUFFERS=128MB
DB_MAX_WAL_SIZE=1GB
DB_LOG_MIN_DURATION=200
DB_LOCAL_PORT=

KAFKA_CLUSTER_ID=
KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_PARTITIONS=3
KAFKA_REPLICATION_FACTOR=1
KAFKA_AUTO_CREATE_TOPICS=true

APP_PORT=